@import "tailwindcss";

:root {
  --background: #E4E7EB;
  --foreground: #171717;
  --card-background: #F1F3F0;
  --border-color: #D4D8D8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: #F4F4F4;
  --color-button-bg: #F4F4F4;
  --color-border: #D4D8D8;
  --color-icon: #1446A5;
  --color-primary: #368B52;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E5E7EB;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}
